{% set connectedDate = connectedDate|default(null) %} {# string or null#}

<div class="latest-connected">
    {% include '/components/atoms/date-with-badge.html.twig' with {
        date : connectedDate,
        badge: connectedDate ? 'valid' : 'alert'
    } only %}

    {% if connectedDate is null %}
        <button class="button button--with-icon latest-connected__resend-invite-button">
            <img src="{{ asset('build/images/icons/update.svg')}}" alt=""/>
            <span>Renvoyer l'invitation</span>
        </button>
    {% endif %}
</div>
