{% set avatar = avatar %} {# required #}
{% set name = name %} {# required #}

<div class="nametag">
    <img class="nametag__avatar mr-1" src="{{ asset(avatar) }}"/>
    <span class="nametag__name">{{ name }}</span>
</div>
