{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="heading-1 mb-2">Membres du club</h1>

    <div class="mb-2">
        {% include '/components/atoms/search-input.html.twig' with {
            placeholder: 'Rechercher un membre'
        } only %}
    </div>

    <div class="mb-3">
        {% include '/components/organisms/filters.html.twig' with{
            filters: ['Type', 'Connexion']
        } only %}
    </div>

    {% include '/components/organisms/members-table.html.twig' only %}
{% endblock %}
