.button {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

/* Not just in `.button`, to make sure the font changes even when there's a `<span>` inside the button */
.button,
.button > * {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.button--with-icon {
  display: flex;
  color: $blue;
  & :first-child {
    margin-right: $spacing;
  }
}

.button-icon {
  width: 5 * $spacing;
  height: 5 * $spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue-mid;
  border-radius: $spacing;
  &:hover {
    background: $color-primary;
  }
}

.button-dropdown {
  background: $color-primary;
  color: $white;
  padding: $spacing (2 * $spacing);
  border-radius: $spacing;
  &::after {
    content: "🔽";
  }
}
