.button {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

/* Not just in `.button`, to make sure the font changes even when there's a `<span>` inside the button */
.button,
.button > * {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.button--with-icon {
  display: flex;
  color: $blue;
}

.button--icon-only {
  width: 20px;
  height: 20px;
}

.button--dropdown {
  background: $color-primary;
  color: $white;
  padding: 8px 15px;
  border-radius: 70px;
  display: flex;
  align-items: center;
}

.button--with-icon,
.button--dropdown {
  & > :first-child {
    margin-right: 5px;
  }
}
