.date-with-badge {
  padding: 2px 8px;
  border: 1px solid $grey;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;

  &__badge {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
  }

  &__badge--valid {
    background: $color-valid;
  }

  &__badge--alert {
    background: $color-alert;
  }
}
