.search-input {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 300;
  padding: 2 * $spacing;
  display: block;
  border-radius: $spacing;
  border: 2px solid $grey;
  &:focus,
  &:hover {
    border-color: $color-primary;
  }
}
