.nametag {
  display: flex;
  font-weight: 500;

  &__name {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
  }

  &__avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
