$blue: #2559f2;
$blue-dark: #152d4b;
$blue-mid: #778eb9;
$grey: #dfe5ec;
$grey-light: #f0f1f5;
$grey-extra-light: #f8f8fa;
$white: #ffffff;
$green: #29d48c;
$red: #ef4948;

$color-primary: $blue;
$color-text: $blue-dark;
$color-alert: $red;
$color-valid: $green;
