.members-table {
  display: flex;
  flex-direction: column;
  min-width: 120 * $spacing;
  font-size: 14px;
  line-height: 1.4;

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: $spacing;
    padding: 2 * $spacing;
    background: $grey-extra-light;
    border-radius: $spacing;

    &:hover,
    &:focus {
      box-shadow: 0 $spacing(2 * $spacing) (-0.5 * $spacing) #2559f233;
    }

    & + & {
      margin-top: $spacing;
    }

    &--header {
      color: $color-primary;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.08em;
      & > * {
        font-weight: 500;
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
}
