{% set filters = filters %} {# required #} {# array #}

<div class="filters">
    {% for filter in filters %}
        <button class="button button--dropdown mr-1">
            {{ filter }}
            <img src="{{ asset('build/images/icons/dropdown.svg')}}" alt=""/>
        </button>
    {% endfor %}
</div>