{% set filters = filters %} {# required #}

<div class="filters">
    {% for filter in filters %}
        <button class="button button-dropdown">
            {{ filter }}
        </button>
    {% endfor %}
</div>